.img-circle {
	border-radius: 50%
}
.container {
	width: 700px;
	margin: 0 auto;
	margin-top: 40px;
	color: white;
}
@media (max-width: 920px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 700px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 300px;
  }
}

#para {
	color: #3385ff;
	font-family: 'Raleway', sans-serif;
}
.container h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

}
